<div id="container">

<h2 id="header">AJAX Playground</h2>

  <div id='searcharea'>
    <label for="search">Live Search</label>
      <p>Enter the Name of a Speaker</p>
      <input type="search" name="search" id="search"
             placeholder="name or info" />
  </div>

  <div id="update">

  </div>

</div>
